@model IEnumerable<Word>

<h4>Word List</h4>

<table class="table table-hover m-t-30">
    <thead>
        <tr>
            <th>Original Word</th>
            <th>Tranlated Word</th>
            <th>Sentence</th>
            <th colspan="2">Operations</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.OriginalWord</td>
            <td>@item.TranslatedWord</td>
            <td>@item.Sentence</td>
            <td><a asp-controller="Home" asp-action="UpdateWord" asp-route-wordId="@item.Id" class="btn btn-info">Update</a></td>
            <td><a asp-controller="Home" asp-action="DeleteWord" asp-route-wordId="@item.Id" class="btn btn-danger">Delete</a></td>
        </tr>
    }
</table>